
{% extends 'spy/base.html' %}
{% load bootstrap3 %} {% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

{% block content %}
<div class="container" style="padding-top: 90px;">
    <div class="row">
        <h1>My Neighborhood</h1>
        <div class="col-md-6">
            {% for neighbor in neighbors %}
            <div class="panel mb-4" style="color:black;">
                <div class="panel-header">
                    <h1>{{neighbor.name}}</h1>
                    <hr>
                </div>
                <div class="pane-body">
                    <p>{{neighbor.location}}</p>
            <p>Number of People {{neighbor.occupants_count}}</p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-md btn-warning"><a href="{% url 'neighbor-detail' neighbor.id %}">View Jirani Deatils</a></button>
                    <button class="btn btn-md btn-warning"><a href="{% url 'update_count' neighbor.id %}">Update Occupants</a></button>
                    <button class="btn btn-md btn-warning"><a href="{% url 'delete_neighborhood' neighbor.id %}">Delete</a></button>
                </div>
            </div>
           
            {% endfor %}
        </div>
        <div class="col-md-6">
            <button class="btn btn-md btn-warning"><a href="{% url 'create_post' %}">Add Post</a></button>
            {% for post in posts %}
            <div>
                <div class="panel mb-4"  style="color:black;">
                    <div class="panel-header">
                        <h1 class="text-center">{{post.post_title}}</h1>
                    </div>
                    <div class="panel-body">
                        <p>{{post.post_description }}</p>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>   
</div>
{% endblock %}