
{% extends 'spy/base.html' %}
{% load bootstrap3 %} {% load static %}

{% block content %}
<div class="container" style="padding-top: 90px;">
    <h1>Neighbours watch</h1>

    {% for neighbor in neighbors %}
    <h1>{{neighbor.name}}</h1>
    <p>{{neighbor.location}}</p>
    <p>Number of People {{neighbor.occupants_count}}</p>
    <!-- <button class="btn btn-md btn-warning"><a href="{% url 'neighbor-detail' neighbor.id %}">View Jirani Deatils</a></button>
    <button class="btn btn-md btn-warning"><a href="{% url 'update_count' neighbor.id %}">Update Occupants</a></button>
    <button class="btn btn-md btn-warning"><a href="{% url 'delete_neighborhood' neighbor.id %}">Delete</a></button> -->
    {% endfor %}
</div>
{% endblock %}